<div class="top-footer">
	<p><a href="tel:+8127264474">Call Today!<br />812.726.4474</a></p>
	<div class="business-information">
		<p style="margin-top: 50px;">Loudermilk Contracting <span class="bull">&bull;</span> <span class="m-break">2048 N. Loudermilk Rd.</span> <span class="bull">&bull;</span> Vincennes, IN 47591</p>
		<p>Phone: 812-726-4474 <span class="bull">&bull;</span> <span class="m-break">Fax: 812-726-4473</span></p>
		<p>Office Hours: <span class="m-break">Monday - Friday</span> <span class="m-break">7:00 A.M. to 5:00 P.M. EST</span></p>
	</div>
</div>

<div class="copyright">
<p style="text-align: center;">&copy; 2016 Loudermilk Contracting, Inc. &amp; <a href="http://brushfirecreative.com" target="_blank">brushfire creative</a>. All rights reserved.</p>
</div>