 <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><p><img src="/img/loudermilk-logo.png" alt="Loudermilk Logo" /></p></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="dt-menu">
            <li><a href="/projects">Projects</a></li>
            <li><a href="#">Industry</a>
                <ul class="sub-menu">
                  <li><a href="/mines">Mines</a></li>
                  <li><a href="/industrial">Industrial</a></li>
                  <li><a href="/earthwork">Earthwork</a></li>
                  <li><a href="/quarry">Quarry</a></li>
                  <li><a href="/utilities">Utilities</a></li>
                  <li><a href="/trucking">Trucking</a></li>
                  <li><a href="/maintenance">Maintenance</a></li>
                  <li><a href="/reclamation">Reclamation</a></li>
                </ul>

            </li>
            <li><a href="/employment">Employment</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>

          <ul id="mob-menu">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/mines">Mines</a></li>
            <li><a href="/industrial">Industrial</a></li>
            <li><a href="/earthwork">Earthwork</a></li>
            <li><a href="/quarry">Quarry</a></li>
            <li><a href="/utilities">Utilities</a></li>
            <li><a href="/trucking">Trucking</a></li>
            <li><a href="/maintenance">Maintenance</a></li>
            <li><a href="/reclamation">Reclamation</a></li>
            <li><a href="/employment">Employment</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>