/*!
 * Boiler v0.0.1 
 * Copyright 2016 Brushfire Creative
 * 
 * Ues this boilerplate as a starting place for your html projects
 */

 /* Import Twitter Bootstrap http://getbootstrap.com */
 @import "bootstrap";

 /* Import Bourbon http://bourbon.io */
 @import "bourbon/bourbon";

/********************** Variables *********************/

$white: #fff;
$dark-blue: #2b388f;
$light-blue: #1B75BB;
$dark-gray: #333;
$light-gray: #999;

body{
	font-family: "Roboto Condensed";
	font-size: 16px;
	padding-bottom: 0;
	width: 100%;
}

p{
	font-size: 1.5625em;
	color: $dark-gray;
}

h1{
	font-size: 4.375em;
	color: $dark-gray;
}

h2{
	font-size: 4.0625em;
	color: $dark-gray;
}

h3{
	font-size: 3.125em;
	color: $dark-gray;
}

h4{
	font-size: 2.5625em;
	color: $dark-gray;
}

h5{
	font-size: 2.1875em;
	color: $dark-gray;
}

h6{
	font-size: 1.875em;
	color: $dark-gray;
}

.container{
	padding: 0;
	max-width: 100%;
	width: 100%;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

/********************** Header/Home *********************/

.navbar-brand{
	padding:0px;
	margin-left: 0;
	img{
		max-width: 100%;
	}
}

.nav{
	background-color: transparent;
}

.navbar-inverse{
	background-color: transparent;
	border: none;
}

.navbar{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	.container{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

.jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	a{
		position: relative;
		top: 100px;
		right: 40px;
		float: right;
		font-size: 52px;
		text-align: center;
		border: solid 2px $dark-blue;
		padding: 5px 40px;
		line-height: 55px;
		color: $dark-blue;
		text-transform: uppercase;
		&:hover{
			color: $white;
			background-color: $dark-blue;
			border: solid 2px $dark-blue;
			text-decoration: none;
		}
	}
}

.highlight1{
	background-image: url('/img/highlight1.jpg');
	background-repeat: no-repeat;
	background-position: middle middle;
	background-size: cover;
	h4{
		text-align: center;
		color: $white;
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
	}
}

.highlight2{
	background-image: url('/img/highlight2.jpg');
	background-repeat: no-repeat;
	background-position: middle middle;
	background-size: cover;
	h4{
		text-align: center;
		color: $white;
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
	}
}

.highlight3{
	background-image: url('/img/highlight3.jpg');
	background-repeat: no-repeat;
	background-position: middle middle;
	background-size: cover;
	h4{
		text-align: center;
		color: $white;
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
	}
}

.industries{
	ul{
		margin-top: 25px;
		height: 145px;
		li{
			height: 145px;
			vertical-align: middle;
			h6{
				margin-top: 110px;
			}
		}
	}
}

.mines{
	width: 9%;
	background-image: url('/img/Icons-mines.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.industrial{
	width: 14%;
	background-image: url('/img/Icons-industrial.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.earthwork{
	width: 13%;
	background-image: url('/img/Icons-earthwork.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.quary{
	width: 9%;
	background-image: url('/img/Icons-quary.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.utilities{
	width: 11%;
	background-image: url('/img/Icons-utilites.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.trucking{
	width: 12%;
	background-image: url('/img/Icons-trucking.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.maintenance{
	width: 15%;
	background-image: url('/img/Icons-maintenance.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.reclamation{
	width: 15%;
	border-right: none !important;
	background-image: url('/img/Icons-reclamation.png');
	background-repeat: no-repeat;
	background-position: 50% 35%;
}

.company-logos{
	background-color: $light-gray;
	height: 275px;
}

.toyota{
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}

.vinu{
	width: 38%;
	margin-left: 31%;
	margin-top: 10px;
}

.peabody{
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}

/********************** Footer *********************/

.copyright{
	background-color: $dark-gray;
	height: 75px;
	p{
		color: $white;
		padding-top: 20px;
		font-weight: 300;
	}
	a{
		color: $white;
	}
}

.top-footer{
	background-color: $dark-blue;
	height: 400px;
	p{
		text-align: center;
		max-width: 100%;
	}
	a{
		display: inline-block;
		font-size: 52px;
		text-align: center;
		border: solid 2px $white;
		padding: 5px 40px;
		line-height: 55px;
		color: $white;
		margin-top: 40px;
		text-transform: uppercase;
		&:hover{
			color: $dark-blue;
			background-color: $white;
			border: solid 2px $white;
			text-decoration: none;
		}
	}
}

.business-information{
	p{
		color: $white;
		font-size: 35px;
		text-transform: uppercase;
		font-weight: 300;
		line-height: 35px;
	}
}

/********************** Projects Pages *********************/

.project-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.dark-box{
	background-color: $dark-blue;
	height: 33.3vw;
	min-height: 300px;
}

.light-box{
	background-color: $light-blue;
	height: 33.3vw;
	min-height: 300px;
}

.gray-box{
	background-color: $light-gray;
	height: 33.3vw;
	min-height: 300px;
}
.project-boxes{
	h2{
		color: $white;
		text-align: center;
		text-transform: uppercase;
		margin-top: 0;
	}
	h4{
		color: $white;
		text-align: center;
		text-transform: uppercase;
	}
	hr{
		width: 70%;
	}
	.box-info{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
	}
}

.projectrow{
	border-bottom: 5px solid $white;
}

.projectrow1{
	border-bottom: 5px solid $white;
}

.box1{
	border-right: 3px solid $white;
}

.box2{
	border-right: 3px solid $white;
}

/********************** Industry Pages *********************/

.industrial-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.industry-content{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 40px;
	h3{
		text-align: center;
		color: $dark-blue;
		margin-bottom: 0;
	}
	p{
		text-align: center;
	}
}

.company-logos{
	h3{
		text-align: center;
		margin-bottom: 0;
		color: $dark-blue;
	}
}

.industry-logos{
	padding-bottom: 20px;
	height: 350px;
}

.mining-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.earthwork-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.trucking-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.maintenance-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.utilities-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.reclamation-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.quarry-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

/********************** Single Project Pages *********************/

.single-project{
	h2{
		text-align: left;
		margin-left: 2%;
		margin-right: 2%;
		text-transform: uppercase;
		border-bottom: solid 2px $dark-gray;
	}

	h4{
		text-align: left;
		margin-left: 2%;
		margin-right: 2%;
		text-transform: uppercase;
	}

	p{
		text-align: left;
		margin-left: 2%;
		margin-right: 2%;
	}

}

/********************** Contact Page *********************/

.contact-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

form .form-control{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 2px $dark-gray;
	border-radius: 0;
	background: transparent;
	font-size: 25px !important;
}


/********************** About Us Page *********************/

.about-jumbotron{
	background-image: url('/img/home-hero.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: middle middle;
	height: 80vh;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 0;
	border-bottom: solid 5px $white;
	h1{
		color: $white;
		font-size: 120px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 350px;
		text-shadow: 2px 2px $dark-gray;
	}
}

.staff{
	margin-top: 25px;
	margin-bottom: 25px;
	img{
		max-width: 60%;
		margin-left: 20%;
	}
	h4{
		text-align: center;
	}
	h5{
		text-align: center;
	}
}



/********************** Media Queries *********************/

@media screen and (min-width: 768px){

	#mob-menu{
		display: none !important;
	}

	#navbar{
		width: 100%;
		ul{
			float: right;
			padding: 0;
			width: 65%;
			padding-top: 70px;
			display: inline-block;
			li{
				position: relative;
				width: auto;
				display: inline-block;
				padding-left: 3%;
				padding-right: 3%;
				ul{
					display: none;
					width: auto;
					float: none;
				}
				a{
					font-size: 1.5625em;
					text-transform: uppercase;
					font-weight: 300;
					color: $white;
					display: block;
					padding-left: 2%;
					padding-right: 2%;
				}
				&:last-child{
					padding-right: 0;
				}
				&:hover{
					ul{
						display: block;
						padding-top: 0;
						position: absolute;
						width: auto;
						min-width: 170px;
						background-color: rgba(0,0,0,.6);
						li{
							display: block !important;
							position: initial;
							float: none;
						}
					}
				}
			}
		}
	}

	.navbar-header{
		width: 35%;
	}

	.navbar-brand{
		margin-left: 0 !important;
	}

	.page-content{
		margin-top: -50px;
	}

	.highlight1{
		height: 33.3vw;
		border-top: solid 10px $dark-blue;
		border-bottom: solid 10px $dark-blue;
		border-left: solid 5px $dark-blue;
		border-right: solid 5px $dark-blue;
	}

	.highlight2{
		height: 33.3vw;
		border-top: solid 10px $dark-blue;
		border-bottom: solid 10px $dark-blue;
		border-left: solid 5px $dark-blue;
		border-right: solid 5px $dark-blue;
	}

	.highlight3{
		height: 33.3vw;
		border-top: solid 10px $dark-blue;
		border-bottom: solid 10px $dark-blue;
		border-left: solid 5px $dark-blue;
		border-right: solid 5px $dark-blue;
	}

	.jumbotron{
		min-height: 800px;
	}

	.projects-jumbotron{
		min-height: 800px;
	}

	.project-jumbotron{
		min-height: 800px;
	}

	.about-jumbotron{
		min-height: 800px;
	}

	.mining-jumbotron{
		min-height: 800px;
	}

	.earthwork-jumbotron{
		min-height: 800px;
	}

	.reclamation-jumbotron{
		min-height: 800px;
	}

	.maintenance-jumbotron{
		min-height: 800px;
	}

	.trucking-jumbotron{
		min-height: 800px;
	}

	.utilities-jumbotron{
		min-height: 800px;
	}

	.quarry-jumbotron{
		min-height: 800px;
	}

	.industrial-jumbotron{
		min-height: 800px;
	}

	.contact-jumbotron{
		min-height: 800px;
	}
}

	.industries{
		ul{
			padding-left: 0;
			li{
				list-style: none;
				display: inline-block;
				border-right: solid 5px $light-blue;
				/*padding-right: 1%;
				padding-left: 1%;*/
			}
		}
		h6{
			text-align: center;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 25px;
		}
}

@media screen and (max-width: 1310px){
	.reclamation{
		width: 14%;
	}
}

@media screen and (max-width: 1200px){
	#navbar ul li a{
		padding-left: 1%;
		padding-right: 1%;
	}
}

@media screen and (max-width: 1160px){
		#navbar ul li{
		padding-left: 2%;
		padding-right: 2%;
	}

	.navbar-header{
		width: 30%;
		img{
			max-width: 90%;
			margin-left: 5%;
		}
	}

	#navbar ul{
		width: 70%;
		padding-top: 4vh;
	}
}

@media screen and (max-width: 1120px){
	.business-information{
		p{
			font-size: 30px;
		}
	}
}


@media screen and (max-width: 1065px){
	.project-boxes{
		h4{
			font-size: 36px;
		}
	}
}

@media screen and (max-width: 1091px) and (min-width: 892px){
	.industries h6{
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px){
	#navbar ul li a{
		padding-left: 2%;
		padding-right: 2%;
	}

	.navbar-header{
		width: 30%;
		img{
			max-width: 90%;
			margin-left: 5%;
		}
	}

	#navbar ul{
		width: 70%;
		padding-top: 4vh;
	}
}

@media screen and (max-width: 991px){
	.company-logos{
		height: auto;
		padding-bottom: 25px;
	}
	.box1{
		border-right: none;
	}
	.box2{
		border-right: none;
	}

	.projectrow{
		border-bottom: none;
	}

	.project-boxes{
		border-bottom: solid 3px $white;
	}

	.projectrow{
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}

	.projectrow1{
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}


}

@media screen and (max-width: 964px){
	#navbar ul li a{
		padding-left: 0;
		padding-right: 0;
	}

	.business-information{
		p{
			font-size: 25px;
			line-height: normal;
		}
	}
}


@media screen and (max-width: 946px) and (min-width: 768px){
	#navbar ul li a{
		padding-left: 1.5%;
		padding-right: 1.5%;
		font-size: 20px;
	}
}

@media screen and (max-width: 891px) and (min-width: 768px){
	.industries h6{
		font-size: 16px;
	}

	.reclamation{
		width: 13.5%;
	}
}

@media screen and (max-width: 767px){

	#dt-menu{
		display: none;
	}

	#mob-menu{
		display: block;
	}

	.highlight1{
		height: 400px;
	}

	.highlight2{
		height: 400px;
	}

	.highlight3{
		height: 400px;
	}

	.industries{
		height: auto;
		ul{
			height: auto;
		}
		li{
			width: 49%;
		}
		h6{
			margin-bottom: 100px !important;
		}

	}

	.mines{
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
	}

	.industrial{
		border-right: none !important;
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
		margin-left: -5px;
	}

	.earthwork{
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
	}

	.quary{
		border-right: none !important;
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
		margin-left: -5px;
	}

	.utilities{
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
	}

	.trucking{
		border-right: none !important;
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
		margin-left: -5px;
	}

	.maintenance{
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
	}

	.reclamation{
		border-right: none !important;
		border-bottom: solid 5px $light-blue;
		margin-bottom: 10px;
		margin-left: -5px;
	}

	.company-logos{
		height: auto;
		padding-bottom: 25px;
	}
	
	.container > .navbar-header{
		width: 100%;
		float: none;
		background-color: $dark-blue;
		margin-right: 0;
		margin-left: 0;
		height: 50px;
	}

	#navbar{
		height: 100vh !important;
		max-height: 100vh !important;
		overflow: hidden;
		ul{
			width: 100%;
			padding-top: 10px;
			padding-left: 0;
			height: auto;
			li{
				list-style-type: none !important;
				border-bottom: solid 1px $white;
				padding-left: 10px;
				a{
					font-size: 32px;
					color: $white;
					&:hover{
						color: $light-blue;
					}
				}
			}
		}
	}

/*	.sub-menu{
		display: none;
	}*/

	#navbar.navbar-collapse.collapse.in{
		height: 1100px !important	}

	.navbar-brand{
		width: 100%;
		float: none;
		text-align: center;
		margin: 0 auto;
		p{
			text-align: center;
		}
		img{
			max-width: 100%;
			text-align: center;
			margin-left: 0;
			margin-top: 50px;
		}
	}

	#navbar{
		background-color: $dark-blue;
		z-index: 1000;
		position: relative;
	}

	.jumbotron{
		background: $white;
		height: 400px;
		a{
			text-align: center;
			right: auto;
			width: 70%;
			margin-right: 15%;
			top: 150px;
		}
	}

	.business-information{
		p{
			font-size: 25px;
		}
	}

	.top-footer{
		height: auto;
		padding-bottom: 25px;
		p{
			line-height: normal;
			margin-bottom: 5px;
			font-size: 30px;
		}
	}
	.copyright{
		font-size: 12px;
	}

	.bull{
		display: none;
	}

	.m-break{
		display: block;
	}

}

@media screen and (max-width: 750px){
	.maintenance-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.reclamation-jumbotron{
		h1{
			font-size: 90px;
		}
	}
}

@media screen and (max-width: 623px){
	.industrial-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.earthwork-jumbotron{
		h1{
			font-size: 90px;
		}
	}
}

@media screen and (max-width: 593px){
	.project-jumbotron{
		h1{
			font-size: 100px;
		}
	}

	.maintenance-jumbotron{
		h1{
			font-size: 80px;
		}
	}

	.reclamation-jumbotron{
		h1{
			font-size: 80px;
		}
	}
}

@media screen and (max-width: 543px){
	.navbar-brand img{
		margin-top: 0;
	}

	.jumbotron a{
		font-size: 44px;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.trucking-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.top-footer{
		a{
			font-size: 30px;
			line-height: normal;
		}
	}
}

@media screen and (max-width: 480px){
	.project-jumbotron{
		h1{
			font-size: 70px;
		}
	}

	.jumbotron a{
		font-size: 36px;
		line-height: normal;
	}

	.industrial-jumbotron{
		h1{
			font-size: 60px;
		}
	}

	.earthwork-jumbotron{
		h1{
			font-size: 60px;
		}
	}

	.quarry-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.utilities-jumbotron{
		h1{
			font-size: 80px;
		}
	}

	.maintenance-jumbotron{
		h1{
			font-size: 50px;
		}
	}

	.reclamation-jumbotron{
		h1{
			font-size: 52px;
		}
	}

	.trucking-jumbotron{
		h1{
			font-size: 70px;
		}
	}

	.mining-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.about-jumbotron{
		h1{
			font-size: 90px;
		}
	}

	.contact-jumbotron{
		h1{
			font-size: 80px;
		}
	}

}

@media screen and (max-width: 360px){
	#navbar{
		ul{
			li{
				a{
					font-size: 24px;
				}
			}
		}
	}
}
